graphs {
  priority: 0

  engines {
    id: 611
    engine_name: "Custom"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {

      items {
        name: "dataType"
        value: "Camera"
      }

      items {
        name: "data_source"
        value: "Channel-1"
      }

      items {
        name: "fps"
        value: "5"
      }

      items {
        name: "image_format"
        value: "YUV420SP"
      }

      items {
        name: "image_size"
        value: "1280x720"
      }

      items {
        name: "meanOfG"
        value: ""
      }

      items {
        name: "meanOfR"
        value: ""
      }

      items {
        name: "batch"
        value: "1"
      }

      items {
        name: "useAll"
        value: "all"
      }

      items {
        name: "randomNumber"
        value: "All"
      }

      items {
        name: "target"
        value: "OI"
      }
    }
  }
}
